{% form_theme form 'gprsClientBundle:Form:form_table_layout.html.twig' %}

{% extends "gprsClientBundle::layout.html.twig" %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}" />
    <style>
        #content {
            margin: 6px 3px 3px;
        }
        #left_block {
            display: none;
        }
    </style>
{% endblock %}
  
{% block table %}{% endblock %}

{% block map %}

    {% if form.vars.value.id is not null %}
        <h1>{{'Edit Trader'|trans}}</h1>
    {% else %}
        <h1>{{'Add new Trader'|trans}}</h1>
    {% endif %}
        
    <form name="single" action="{{ form.vars.value.id  ? path('update_trader', { 'id': form.vars.value.id }) : path('create_trader') }}" method="post" {{ form_enctype(form) }} >
        {{ form_widget(form) }}
            <br>
        <input type="submit" value="{{'Save'|trans}}" /><br><br>
    </form>
    
    {% if form.vars.value.id is not null %}
        <button onclick="if(confirm('{{'Are you sure you want to delete this trader'|trans}}')){location.href='{{path('delete_trader', {'id': form.vars.value.id})}}';}else{return false;}">{{'Delete'|trans}}</button>
    {% endif %}
    
{% endblock %}
